apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery
spec:
  replicas: 1
  selector:
    matchLabels:
      app: discovery
  template:
    metadata:
      labels:
        app: discovery
    spec:
      containers:
        - name: discovery
          image: depot.dpc.com.tn:8443/beeconstruct/discovery:v-0.0.80
          ports:
             - containerPort: 8761
---
apiVersion: v1
kind: Service
metadata:
  name: discovery
spec:
  selector:
    app: discovery
  ports:
    - protocol: TCP
      port: 80          # Exposing service on port 80
      targetPort: 8761  # Targeting container port 8761
  type: LoadBalancer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: discovery-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  rules:
  - host: beeconstruct-discovery.back.dpc.com.tn
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: discovery
              port:
                number: 80  # Matching the service port
  tls:
    - hosts:
        - beeconstruct-discovery.back.dpc.com.tn
      secretName: discovery-tls-secret
