apiVersion: apps/v1
kind: Deployment
metadata:
  name: user
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user
  template:
    metadata:
      labels:
        app: user
    spec:
      containers:
        - name: user
          image: depot.dpc.com.tn:8443/beeconstruct/users:v-0.0.80
          ports:
            - containerPort: 8091

          


---
apiVersion: v1
kind: Service
metadata:
  name: user
spec:
  selector:
    app: user
  ports:
    - protocol: TCP
      port: 80          # Exposing service on port 80
      targetPort: 8091  # Targeting container port 8761
  type: LoadBalancer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: user-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  rules:
  - host: beeconstruct-users.back.dpc.com.tn
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: user
              port:
                number: 80  # Matching the service port
  tls:
    - hosts:
        - beeconstruct-users.back.dpc.com.tn
      secretName: user-tls-secret
